@import 'variables';



.topNavbar {
    & .link {
        & a {
            font-size: 18px;
            color: rgba(0,0,0,0.8);
            text-decoration: none;
            letter-spacing: 1px;
        }
    }
    & .logo {
        & img {
            height: 90px;
        }
    }
}
.heroText {
    font-size: 38px;
    letter-spacing: 3px;
    @include max-xl {
        font-size: 32px;
    }
    @include max-lg {
        font-size: 30px;
    }
    @include max-md {
        font-size: 26px;
    }
    @include max-sm {
        font-size: 5vw;
    }
}
.videoAnimateSection {
    height: 100vh !important;
    & .leftImgOuter {
        position: absolute;
        top: 50%;
        left: 14.3%;
        transform: translateY(-50%);
        width: 17%;
        & .imgBox {
            width: 100%;
            & img {}
        }
        @include max-lg {
            width: 28%;
            left: 20px;
        }
    }
    & .rightImgOuter {
        position: absolute;
        top: 50%;
        right: 14.3%;
        transform: translateY(-50%);
        width: 17%;
        & .imgBox {
            width: 100%;
            & img {}
        }
        @include max-lg {
            width: 28%;
            right: 20px;
        }
    }
    & .rightImgOuter2 {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        width: 12.5%;
        @include max-sm {
            width: 50%;
        }
        & .imgBox {
            width: 100%;
            & img {}
        }
    }
    & .leftImgOuter2 {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 12.5%;
        @include max-sm {
            width: 50%;
        }
        & .imgBox {
            width: 100%;
            & img {}
        }
    }
    & .videoOuter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33.33%;
        z-index: 5;
        @include max-sm {
            width: 50%;
        }
        & .videoInner {
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.4);
                top: 0;
                left: 0;
                position: absolute;
                z-index: 1;
            }
            & video {
                height: 100vh;
                transform: scale(1.3);
            }
            & .positionText {
                width: 600px;
                top: 50%;
                text-align: center;
                font-size: 100px;
                line-height: 110%;
                font-family: emoji;
                z-index: 2;
                @include max-xl {
                    width: 500px;
                    font-size: 90px;
                }
                @include max-md {
                    width: 450px;
                    font-size: 75px;
                }
                @include max-sm {
                    width: 90%;
                    font-size: 18vw;
                }
            }
        }
    }
}